[2012-01-16 18:11] graaff opened #31 "highline 1.6.9 hangs indefinitely with JRuby"
With jruby 1.5.6 (ruby 1.8.7 patchlevel 249) (2012-01-08 6586) (OpenJDK 64-Bit Server VM 1.6.0_22) [amd64-java] tests hang indefinitely. I've tested both with and without your patch for my ruby 1.8 bug. It shows two dots when running its tests and then hangs. I realize that our jruby is old but we can't currently upgrade since 1.6 versions don't run properly on our system.

[2012-08-27 15:45] gutenye opened #43 "Does not support CTRL-U in password mode"
Type "helloCTRL-Uworld"

[code]

[2012-11-26 18:49] andlaz opened #51 "choose prints "Ignored" instead of choices on JRuby"
taking the example from examples/menus.rb

[code]

in MRI 1.9.3, this behaves as expected

[code]

not so much in JRuby 1.7.0

[code]

any ideas?

thanks!
Andras

ps: i'm on 1.6.15

[2013-01-08 16:40] kachick opened #59 "Some test failures on Windows"
All test passes on MacOSX.
But some failures on Windows.

Environment(Windows)
--------------------------------

* Windows7 64bit
* ruby 1.9.3p362 (2012-12-25) [i386-mingw32]
* Head(e785e6e4b03fabd108ac9cd7de0d5afa4860e6a4)

[code]

TestResult
----------------

[code]

Note
------

An warning occured.

[code]

[2013-03-07 00:33] viking opened #69 "serializing HighLine::String to yaml produces strange results"
Consider:

    require 'highline'
    require 'yaml'

    hl = HighLine.new
    x = hl.ask("foo: ")
    puts x.to_yaml

Output:

    foo: bar
    --- !ruby/string:HighLine::String |-
      YmFy

I'm using ruby 2.0.0-p0.

[2013-06-28 06:00] boutil opened #85 "terminal_size return nil in some environments in Linux"
Hi,
In some environments on Linux, stty returns an empty string, which means that terminal_size returns nil instead of integers. This causes test_terminal_size test in test/tc_highline.rb, line 932 to fail.

Examples of such environments are the clean environment created by pbuilder and sbuild in Debian to build packages. It probably can happen on other occasions.

If you want to insist on termina

[2013-10-30 19:49] mickeyreiss opened #96 "HighLine#ask crashes on suspend"
If the user suspends the program while being `HighLine#ask`'ed a question, HighLine occasionally crashes. Ideally, suspending (i.e. `SIGSTOP`) should be supported.

[code]

OS X 10.8.4/zsh 4.3.11

[2013-11-10 16:03] bsodmike opened #98 "Highline v1.6.2 Error"
Hi James,

I was working on a chef setup with vagrant and hit a wall with it dying on https://github.com/JEG2/highline/blob/master/lib/highline.rb#L711

[code]

I've 'patched' it locally by hand by changing `to_str` to `to_s`.

[2013-11-23 04:21] JEG2 opened #99 "Honour termios settings (including VEOF)"
See:

http://rubyforge.org/tracker/?func=detail&atid=2700&aid=29826&group_id=683

and:

http://rubyforge.org/tracker/?func=detail&atid=2700&aid=29827&group_id=683

[2014-11-28 00:00] danielpclark opened #112 "Allow default to return Object when no entry is made"
In the example of setting a default `ask("Company? ") { |q| q.default = "none" }` the default string is returned.  When `default = nil` it converts to String without any problems and returns a blank String when no entry is made `""` and not `nil`.  If `false` and most other Objects are used it displays the default `|false|` or equivelant, but then will fail when [enter] is hit with `TypeError: no

[2014-12-12 03:07] brandondrew opened #113 "question.limit incompatible with question.readline"
If I run this code as it is, the question never appears.  If I remove either the `limit` or the `readline` options, the question appears.
[code]

[2015-01-10 06:29] muflax opened #114 ":grey is not an alias for :gray"
I've fallen into this trap at least a dozen times over the last year: "HighLine.color(text, :gr.. was it :gray or :grey?... :grey, I guess... NOPE)".

Unfortunately I can't file bugs for English itself, so at least :grey should be an alias for :gray everywhere in highline. Would be super-awesome.

Similarly, "bright" vs. "light", though I'm not sure if "bright" is like the official term, and I'm j

[2015-01-10 16:24] JEG2 commented on #114
I never run into this issue for some strange reason…

James Edward **Gray** II

:stuck_out_tongue_winking_eye:

[2015-01-10 16:25] JEG2 commented on #114
Seriously, I'll merge a patch.  The request seems reasonable to me.

[2015-01-10 18:31] muflax commented on #114
Sure, I'll give it a shot.

[2015-01-13 11:42] M1chael opened #115 "Ask warning "You must enter a valid HighLine::String" for cyrillic strings"
If I just typing cyrillic string and press enter, it's all ok. But if I use backspace for delete some part of input and then press enter, HighLine gives me warning "You must enter a valid HighLine::String".

[2015-01-13 14:01] JEG2 commented on #115
Our support of backspace must not be encoding aware.  We do need to fix that.

[2015-01-14 05:35] M1chael commented on #115
Sometimes it crashes with error "invalid byte sequence in UTF-8" after backspacing part of input and submitting string.

[2015-02-01 05:37] abinoam opened #116 "Returning wrong encoding when echo is false"
While I was trying to fix #115 I could see that when echo is false, if I input an utf-8 string with some multi-byte characters it returns an answer with the wrong encoding.

I have already fixed it and opening a PR soon.

[2015-02-01 05:41] abinoam opened #117 "When echo is a star (*) it echoes more than one for multi-byte characters"
PR soon

[2015-02-01 05:42] abinoam commented on #117
Related to #115, #116

[2015-02-01 05:44] abinoam commented on #117
One related consequence of the problem is that when inputing multi-byte characters the "backspace_limit" counting is not correct and it allows me to backspace more than it should.

[2015-02-01 06:56] abinoam commented on #114
Hi @muflax ,

GREY is GRAY on https://github.com/abinoam/highline/commit/9db0f38aeb8f45a61853d9f9cedc98f6aae617d9

But that Light and Bright thing, well... I'm not a native english speaker and light blue for me sounds much more like a "not that bright" blue.

Do you natives agree that "light blue" is the same of "bright blue"? If so, I may proceed to implement it.

[2015-02-01 07:05] muflax commented on #114
Cool, thanks!

Yeah, "light blue" and "bright blue" aren't really the same color, but I still find it hard to remember which one the lib used, especially because in many color themes, "bright blue" is just a lighter blue anyway. (And if you google ""light blue" ANSI color", you'll see that a lot of people use the names interchangeably.)

So I'd still prefer an alias for light/bright, but it's a bi

[2015-02-01 07:06] muflax commented on #114
(Also, I noticed that String.redish etc is from awesome_print, so uh, nevermind about that, I'll open an issue there...)

[2015-02-01 08:37] abinoam commented on #114
@muflax , I have opened a pull request where grey is gray and also light is bright.
#119

[2015-02-01 15:26] #115 closed

[2015-02-01 15:26] #116 closed

[2015-02-01 15:26] #117 closed

[2015-02-01 15:29] #114 closed

[2015-02-01 22:03] abinoam commented on #113
Hi @JEG2,

Is it love what HighLine is in need?

Here is some :heart_eyes::heart::kissing_heart: to it, boxed in a PR (#120). :wink:

[2015-02-01 22:03] abinoam commented on #113
@brandondrew, could you check if it works cleanly in your setup?

[2015-02-01 22:14] abinoam commented on #112
@danielpclark and what about Symbol. Nowadays Symbol and String are used interchangeably.
I think Symbol should appear also, as a "String" object.

I'll take a look on the issue.

[2015-02-01 22:54] danielpclark commented on #112
@abinoam  Good catch!  I agree.  Usage of symbol would work great "appearing" as a String.  So it should appear as a String in the display but still return the symbol.

[2015-02-01 23:12] #113 closed

[2015-02-01 23:13] JEG2 commented on #113
We'll reopen this if @brandondrew reports trouble with your fix.

[2015-02-01 23:18] abinoam commented on #112
@danielpclark, I've added a failing test at 0264785
I'll try to work on it soon.

[2015-02-02 03:21] abinoam commented on #112
I have rebased on master. So commit number has changed to 25a19d2

[2015-02-02 03:26] abinoam commented on #112
Hi @danielpclark , I've just added a PR (#121). I think it is what you have suggested. :+1:

[2015-02-02 03:31] abinoam commented on #99
Hi @JEG2 , broken links in the house!

[2015-02-02 04:17] abinoam commented on #98
The main output method in Ruby is **#puts**.
**#puts** accepts anything as argument and it just convert it into a String.
So, when we see #say or #ask we naturally think we can pass any arbitrary object, like the hash that was being passed in https://github.com/berkshelf/solve/blob/v0.8.1/lib/solve/tracers/human_readable.rb#L43 and was fixed here https://github.com/berkshelf/solve/commit/6d7540867

[2015-02-02 04:20] #112 closed

[2015-02-02 04:23] JEG2 commented on #99
Yeah, these are long gone.  Closing until we get another complaint.  (I don't remember the details.)

[2015-02-02 04:23] #99 closed

[2015-02-02 14:09] abinoam commented on #96
I couldn't reproduce the crash. But in a macosx 10.9.4 and bash 4.3 Ctrl-Z in the middle of the input has unpredictable consequences on what #ask returns. Need futher investigation.

[2015-02-02 14:53] abinoam commented on #85
Hi @boutil and @JEG2 ,

What about just falling back to the old and gold 80x24 terminal size when stty doesn't get the size correctly?

It fixes temporarily until interested people implement support for getting the terminal size for specific system with other methods (not stty size).

What do you think?

[2015-02-02 15:05] abinoam commented on #85
I could "reproduce" the issue with a stdin redirection at command line:
[code]
It gives me
[code]

[2015-02-02 15:28] JEG2 commented on #85
Could we use Ruby's standard `io/console` to get the size when `stty` returns nothing?  Just a thought.  I'm fine with the default too.

Could we use the `tty?()` method to detect `$stdin` redirects?  Not sure if that's helpful.

[2015-02-02 15:29] #98 closed

[2015-02-02 15:40] abinoam commented on #85
Testing here.
IO.console.console_size is consistently getting terminal size even with redirections.
Doing some more testing.

[2015-02-02 15:45] JEG2 commented on #85
My fear though is that it could fail if run as a Cron job or in a similar minimized environment.  In which case we probably still need a default.  I can't decide if this is better or worse.

[2015-02-02 16:02] abinoam commented on #85
We could sequentially try more than one method of getting terminal size and
fall back into a default if fail. I'll do some experimentation later and
give a report. Meanwhile, don't merge the PR.
Em 02/02/2015 12:45, "James Edward Gray II" <notifications@github.com>
escreveu:

[2015-02-03 22:42] abinoam commented on #85
I don't understand clearly.
IO.console.winsize is working well (I misspelled to console_size at my last comment).
IO.console_size not.
I'll try some code now.

[2015-02-03 23:01] abinoam commented on #85
Hi JEG2,

Using IO.console.winsize is really great. I also think we could refactor (later) most of the code to rely on it. (trimming all that tests for solaris, etc...)

What do you think of how the PR is now with this new commit?

[2015-02-04 00:06] abinoam commented on #69
I couldn't reproduce the issue anymore. I think it was fixed in YAML. Added a test on 1c6a8fa to serve as guard against any future regression.

[2015-02-04 00:42] #85 closed

[2015-02-04 00:43] JEG2 commented on #85
Looks awesome.  You went above an beyond the call.  Thank you.

[2015-02-04 00:44] #69 closed

[2015-02-04 00:44] JEG2 commented on #69
Perfect.

[2015-02-05 00:06] abinoam commented on #43
Hi @GutenYe , just to be sure I'm understanding correctly. Are you expecting HighLine to "delete" all the line and come back to "home", so it would return only "world", not "hello\u0015world" ?

If so, I think we could try to do this.
But, should we try to emulate all control keys from the terminal?

For most common purposes of the **echo = false** use cases, handling backspace correctly is enough

[2015-02-05 02:33] JEG2 commented on #43
Yeah, I'm not sure how much it's HighLine's responsibility to emulate full terminal behavior.  It seems weird to me that a simple HighLine call might erase my terminal screen.

We are currently planning the next major version of HighLine.  We will include a discussion of where to draw these lines in the plans we make for that release.

[2015-02-05 06:18] GutenYe commented on #43
Yes, that's what I wanted.

[2015-02-18 12:49] abinoam opened #126 "Use markdown on Changelog"
As used by:
- RSpec https://github.com/rspec/rspec-core/blob/master/Changelog.md
- Rails https://github.com/rails/rails/blob/master/activerecord/CHANGELOG.md

It renders pretty nicely on GitHub. At the same time is readable in raw format (https://raw.githubusercontent.com/rspec/rspec-core/master/Changelog.md)

[2015-02-18 13:12] abinoam opened #127 "Update Rakefile to remove unused tasks and fix what is possible"
Some tasks in Rakefile are there as legacy!
I'll try to refresh Rakefile as we are preparing for release the next version.

[2015-02-18 13:49] JEG2 commented on #126
That's fine by me.  Feel free to make the switch.  Just be aware of this:

https://github.com/JEG2/highline/blob/master/Rakefile#L16-L18

[2015-02-18 13:50] JEG2 commented on #127
Perfect.  Thanks!

[2015-02-18 14:25] abinoam commented on #126
Ooops... thanks for pointing it.
Working on this now.

[2015-02-18 14:25] abinoam commented on #127
Are you still using the "svn" task for anything?

[2015-02-18 14:31] JEG2 commented on #127
Nope.  It can go.  Thanks.

[2015-02-18 14:44] abinoam commented on #127
:+1:

[2015-02-19 19:43] #126 closed

[2015-02-19 19:43] #127 closed

[2015-02-20 20:00] elyscape opened #129 "Highline 1.7.0 breaks on Ruby <1.9.3"
Commit 3d4ec58 introduced an unconditional require on `io/console`, which was added in Ruby 1.9.3.  Since there is no rescue against `LoadError`, Highline 1.7.0 cannot be used on versions of Ruby prior to 1.9.3.

[2015-02-20 20:07] JEG2 commented on #129
That's a fair point.  It seems we've lost some older version compatibility.  We should probably investigate this.

[2015-02-20 21:03] elyscape commented on #129
This is actually a pretty simple fix.  Basically, move line 9 of 3d4ec58 down to before line 227 and then wrap that segment in a `Rescue LoadError`.  Something like:
[code]

[2015-02-20 21:28] viyh commented on #129
This is broken on Ruby 2 as well.

ruby 2.0.0p598 (2014-11-13 revision 48408) [x86_64-linux]

[2015-02-20 21:37] JEG2 commented on #129
For the same issue?  Ruby 2.0 includes `io/console`.

[2015-02-20 21:38] JEG2 commented on #129
@abinoam Can you investigate this issue, when you have a chance?

[2015-02-20 21:38] markwetter commented on #129
With Ruby 2.0 we had to install io-console to get past this error.

Should io-console be added as a runtime dependency in the gemspec?

[2015-02-20 21:41] JEG2 commented on #129
`io/console` is a standard library now, but this might be a fix for earlier Rubies.

[2015-02-20 21:50] markwetter commented on #129
[code]

[2015-02-20 21:58] abinoam commented on #129
Thanks for reporting.
@JEG2, I'll take a look at it.

[2015-02-20 23:55] elyscape commented on #129
In the meantime, I have submitted PR #130, which adds support for [Travis CI](https://travis-ci.org/) to the repository.  This should help avoid similar issues in the future.

[2015-02-21 00:38] JEG2 commented on #129
Sorry @markwetter.  I must have misremembered.  Perhaps it was added in Ruby 2.1.

[2015-02-24 21:45] abinoam commented on #129
Hi @elyscape ,

I've opened the PR #134 . I think we should drop 1.8 support. Do you actively use highline on any 1.8 project?

Look:
__1.8.7__ - Retired since 2013-06-30 - https://www.ruby-lang.org/en/news/2013/06/30/we-retire-1-8-7/

No bug fixes! Not even security fixes for 1.8!

Look at this gists https://gist.github.com/abinoam/020f3da3aa1e7339af4f

[2015-02-24 21:53] elyscape commented on #129
I don't, no, but it is the standard version on EL6 and therefore still in heavy use despite its deprecated status. While I think dropping support would be fine, if you do so I highly recommend yanking 1.7.0 and putting out a 1.7.1 release that requires Runy >=1.9.3.

[2015-02-24 21:55] JEG2 commented on #129
This sounds like a pretty reasonable approach.

[2015-02-24 21:55] abinoam commented on #129
:+1:  @JEG2

@elyscape I'll do that now and prepare for release.

[2015-02-25 02:19] abinoam commented on #129
Closing. We'll not support 1.8 anymore.

[2015-02-25 02:19] #129 closed

[2015-03-08 02:12] abinoam commented on #96
Just taking note of this gist. Perhaps relevant.
https://gist.github.com/zdennis/3a0b685047ac086725b0

[2015-03-08 21:17] zdennis commented on #96
@abinoam, thanks for looping me in here. This may very well be related. When you say:

Can you describe what you're seeing? Is it that one or more characters may be often be missing?

[2015-03-09 00:01] abinoam commented on #96
Hi @zdennis

I have tried again with HighLine 1.7.1
A simple #ask as in:
[code]

If you type something, then CTRL-Z, do something, and then ```fg```, then you type another thing and then type enter.
HighLine just "drop" the first 'typing' and then shows you the last one (the one that you typed after the __fg__).

Well, but there's the "readline" mode, the noecho mode and etc. that I didn't tested.

[2015-04-18 07:12] KrauseFx opened #138 "Line wrapping when running highline"
I'm writing regarding an issue with all nomad tools (https://github.com/nomad/shenzhen/issues/246) and all [fastlane](https://fastlane.tools).

Both tool chains make use of highline for both parsing user input using `commander` and for asking users for missing information.

Just recently we ran into issues with line wrapping. When running the following in `irb` (same behaviour as when running dire

[2015-04-18 14:31] JEG2 commented on #138
@abinoam Could you investigate this when you have a chance?

[2015-04-19 03:33] abinoam commented on #138
Hi @KrauseFx  and @JEG2

I think it's probably a regression of #131.
It was fixed for the "develop" branch here #136 (but not for master branch... my bad!)

I'll reapply and issue a PR now.

[2015-04-19 03:47] abinoam commented on #138
@KrauseFx, could you check if the PR #139 fixes the issue? Before @JEG2 makes a new release?
(I'm not able to reproduce neither the fail nor the fix by now).

You could just clone the git repo and run "rake install".

[2015-04-22 03:21] abinoam commented on #138
Confirmed fix at:
https://github.com/nomad/shenzhen/issues/246#issuecomment-94321396
https://github.com/JEG2/highline/pull/139#issuecomment-94304806
Mergerd at #139
Closing.

[2015-04-22 03:21] #138 closed

[2015-06-22 15:34] StinkyDragon opened #141 "Fail to install from zip download"
Hi Guys!

Thank you for the gem, I am certain it works great.

I have initially failed to install it because
the highline.gemspec assumes I got the git repo
and uses 'git ls-files' to get the file lists.

But I did not use git,
I just downloaded the snapshot zip file from github:
wget https://github.com/JEG2/highline/archive/v1.7.2.zip

Running 'ruby setup.rb' also fails,
first for a duplicated in

[2015-06-22 15:39] JEG2 commented on #141
Hmm, this is a good point.  However, it's also a very standard practice now.  Bundler generates code like this when setting up a gem for you, so I assume a lot of gems have this issue, right?

[2015-06-22 17:32] StinkyDragon commented on #141
I am new to ruby, so I can not tell how frequent this issue is.
The few other gems I tried so far did install fine from the zip file,
but they might just not use the bundler.

I looked at the termios.gemspec and that has the file list hardcoded,
which is OK for smaller gems and is probably not efficient for larger ones.
You might open a ticket for the Bundler guys, I have no account there
and I'd

[2015-06-22 17:48] JEG2 commented on #141
@abinoam Thoughts?

[2015-06-23 12:48] abinoam commented on #141
I can take a look at it this week.
Now I'm away from my computer.
But, my first impression is the same of yours @JEG2

Just for the sake of curiosity, why 'gem install highline' is not an option
for you StinkyDragon? (What is your use case?)

Em Seg, 22 de jun de 2015 14:48, James Edward Gray II <
notifications@github.com> escreveu:

[2015-06-24 00:17] abinoam commented on #141
Hi @StinkyDragon,

I think you could try to "force" a install by changing the line at the highline.gemspec

From:
[code]

To:
[code]

After that you should issue a:
[code]

The above will create a file at the ```pkg``` directory so you could install it.

If you have any problem with the code_statistics gem not being installed you could just drop its line on Rakefile. Remove the ```require "code_st

[2015-06-24 00:23] abinoam commented on #141
The current bundler newgem template is here
https://github.com/bundler/bundler/blob/master/lib/bundler/templates/newgem/newgem.gemspec.tt

[2015-06-24 01:51] StinkyDragon commented on #141
Sorry for the delayed response,
my access is intermittent.

a) Why not to use on-line tools to install things:

a1) Because on-line tools frequently pull down the 'newest and latest' version, so if someone prepares a procedure to 'install the following things' the actual version of those things will depend on when the procedure will be done. Including the actual files to be installed / applied avo

[2015-06-24 02:00] JEG2 commented on #141
I want to address at least a few of these points.

RubyGems can [install any version](http://stackoverflow.com/questions/17026441/how-to-install-a-specific-version-of-a-ruby-gem) of a gem that you like.

RubyGems can [install local files](http://stackoverflow.com/questions/220176/how-can-i-install-a-local-gem).

Rake comes with Ruby.  That's why we count on you having it and give instructions base

[2015-06-25 11:51] StinkyDragon commented on #141
Sorry, I keep having trouble with my GitHub password.

*) The modified gemspec file had worked, thank you. The resulting gem seems to work, obviously I had only tried some of the most basic functions so far.

*) Why do we call ruby's 'gem' command 'RubyGem' ? Nickname? Given Name? Way to confuse newbies? Whatever.

*) 'gem fetch' is mostly a glorified 'wget https://rubygems.org/....' (I have actua

[2015-06-25 14:12] JEG2 commented on #141
I would say it's fairly common in Unix for command-line binaries to have shortened names:  "list" is _ls_, "make directory" is _mkdir_, etc.

If you don't have Ruby installed, you can't install a gem.  :smile:

Yes, it's the `termios` gem.

[2015-06-25 14:15] JEG2 commented on #141
You are choosing to do manual installs, because you prefer that scenario, right?  That means, among other things, you are choosing to manually manage you dependancies.  That's all part of the tradeoff you have selected.

[2015-06-25 17:18] StinkyDragon commented on #141
Wow. My password had worked!
I guess colons don't work well in github passwords, that could have been the underlying cause of my troubles.

*) Since we do not use ruby normally we do not have ruby on most of the machines. The guy who puts together the deployment kit will have to get the files somehow, even though otherwise he might not use ruby ever. Installing ruby just so that he can run 'gem fe

[2015-06-25 17:40] JEG2 commented on #141
@abinoam ↑ your call.

[2015-06-26 02:19] abinoam commented on #141
Good comments @JEG2 ,

Happy that you have found your way to make it work.

In a quick searching I could find this link
http://stackoverflow.com/questions/11291235/ruby-gem-dependencies-on-offline-server

It suggests a combination of ```bundle package``` and ```bundle install --local```

I'll close this issue
Later I could try to find the 'proper' way to have a bundle for installing HighLine in an

[2015-06-26 02:19] #141 closed

[2015-06-29 01:56] bparanj opened #142 "Highline::Simulate error"
When I run:
[code]

I am getting this error:
[code]

How do I use the simulate class to fake user input?

[2015-06-29 02:08] JEG2 commented on #142
I suspect this is due to a change in Ruby 2.2.2.  `nil` is now frozen.  We must have some code that doesn't play well with this change.  We'll need to find out what's causing the incompatibility and work around it.

Just FYI, I am currently on vacation until the end of July.

[2015-06-29 02:19] bparanj commented on #142
No problem. I will try with older Ruby versions.

[2015-06-29 12:42] abinoam commented on #142
I can take a look at it later today.

Em Dom, 28 de jun de 2015 23:19, Bala Paranj <notifications@github.com>
escreveu:

[2015-06-29 21:36] abinoam commented on #142
Hi @bparanj ,

Try
[code]
without encapsulating it inside an array.

And... don't forget to tell us if it works on your environment :wink: !

HighLine::Simulate.with is already doing that for you at

https://github.com/JEG2/highline/blob/master/lib/highline/simulate.rb#L40
[code]

Look at the ```*```

Thanks for noting this. I'll try to put your tests and some documentation on it.

[2015-06-30 00:32] bparanj commented on #142
I just verified it on ruby 2.2.2p95 (2015-04-13 revision 50295) [x86_64-darwin13] on my Mac. Your tests are working. Thanks.

[2015-06-30 00:32] #142 closed

[2015-06-30 06:02] hiroyuki-sato opened #144 "highline with thor gem"
Hello.

A little off topic.
Does anyone have any good idea to use highline with thor gem?

The following code does not show default value if I use ``ask`` method inside thor method.

[code]

Execute result.

[code]

Environment

* OSX: 10.10.3
* ruby: 2.2.1
* thor: 0.19.1
* highline: 1.7.2

--
Hiroyuki Sato.

[2015-06-30 15:48] abinoam commented on #144
こんにちは

Dear @hiroyuki-sato,

The issue is being caused by a name collision.
Thor has also a method called __ask__.
http://www.rubydoc.info/github/wycats/thor/Thor/Shell/Basic#ask-instance_method

I could catch the collision with the following
[code]

It outputs
[code]

You should create a HighLine instance by yourself and call #ask on it to avoid name collision.
And, if you're going this way, you

[2015-06-30 23:18] hiroyuki-sato commented on #144
こんにちは @abinoam
どうもありがとうございます。

Thank you for your replying.

It worked as I expected.
Thanks.

[2015-07-01 00:11] abinoam commented on #144
You're welcome.

[2015-07-01 00:11] #144 closed

[2015-07-20 15:31] abinoam commented on #31
It seems io/console is available on recent vesions of JRuby and it works pretty similar to how it works on MRI.
So I'm trying to unify the approaches for MRI and JRuby on this PR #149

The test suit just 'skips' the readline cases when at jruby. Because I couldn't figured out a way to test them. (If you know how to do it, please tell me so).
So the tests will not hang indefinitely (waiting for con

[2015-07-20 15:38] abinoam commented on #51
Hi @andlaz and all,

We are trying to "regain" JRuby compatibilitty at this PR #149
I've tested your code on my machine, a mac os x with jruby 1.7.20 (1.9.3p551) 2015-05-04 3086e6a on Java HotSpot(TM) 64-Bit Server VM 1.6.0_65-b14-462-11M4609 +jit [darwin-x86_64]
... and it's working fine.

Could you confirm if it's fixed so we could close this issue?

[2015-07-20 15:38] abinoam commented on #31
... and I think PR #149 also closes issue #51

[2015-07-23 03:24] abinoam commented on #59
Hi @kachick and @davispuh ,

We're refactoring HighLine and we will probably be relying on 'io/console' (included in recent versions of Ruby) for our 'low-level' work.

I've just made some adjustments and had tested with Ruby 2.2 from RubyInstaller

All (but one) tests are passing. The failing test is related to encoding and I'll take a look at it later.

Could you (@kachick and @davispuh) have a

[2015-07-23 15:41] davispuh commented on #59
Yeah, works fine, all tests pass. Tested on both CMD and PowerShell.

[code]

[code]

[2015-07-24 20:59] abinoam commented on #59
Great!
Thank you @davispuh

I have also added Appveyor to the repo (Continuous Integration for Windows) https://github.com/abinoam/highline/commit/1c32748d814e06ac7ad556afc5dfc0ce50203c4b

We will make some effort to keep Windows compatible from now on.

Appveyor urls:
The master: https://ci.appveyor.com/project/abinoam/highline
My personal fork: https://ci.appveyor.com/project/abinoam/highline-c4

[2015-07-30 17:21] matthewbga opened #150 "Highline #ask in a subprocess"
I am working on implementing highline within a git credential-helper. Credential-helpers call a program (executable, script, etc.) and take the stdout from that program as the credential string for use in connecting to a git server.
The issue I have is that when highline#ask goes to display the prompt, rather than displaying the prompt, git is receiving this as the anticipated stdout from the call

[2015-07-31 01:50] abinoam commented on #150
Is it open source? Could you show me the code? I could try to help you.
If not, could you point me to the documentation of the API?
Could you try to find an open example in bash or something so we could see how it is handling stdin and stdout?

HighLine can be initialized with the input and output parameters.

[code]
This code above assures output even if you use output redirection on command line

[2015-08-12 22:37] derrickmar opened #151 "NoMethodError: undefined method `length' for #<HighLine::Question:0x007f6c2240fb38>"
I tried to investigate why this is happening but couldn't figure it out. I'm I doing something wrong here?

I don't even see where length is ever called in the source code.

[code]

[2015-08-12 22:48] abinoam commented on #151
Hi @derrick,

I couldn't reproduce the error in 2.0.0.pre.develop.2 version.
And I've had another error in 1.7.3 (TypeError).

What version and OS are you in?

[2015-08-12 23:41] abinoam commented on #151
Hi @derrickmar

You could also try to let HighLine#ask handle things to you.

[code]

Let us know if it worked for you. I would be glad to help you make it work.

[2015-08-13 02:48] derrickmar commented on #151
Hey @abinoam yes that is what I reverted to. I was using version ```highline (1.6.21)```

Mac OSX Yosemite

[2015-08-13 02:49] derrickmar commented on #151
It might be worth noting that we have an ActiveRecord model also named ```Question```.

I don't see how this will break things. But the script I ran above was after I loaded our rails environment

[2015-08-13 08:55] abinoam commented on #151
You could simply use ```HighLine::Question``` namespaced in order to avoid name collisions.
And more, you can ```require 'highline'``` (not 'highline/import') and it will not make any changes to the main namespace. But you'll have to have a reference to a HighLine instance. Easy as bellow:
[code]

Just to be sure, then is it solved for you?
Upgrading to a newer HighLine version made it work in you

[2015-08-25 13:53] akerl opened #152 "stty error when doing standard ask followed by echo = '*'"
I'm seeing `stty: standard input: unable to perform all requested operations` when submitting an ask response with echo = '*' or echo = false. I've whipped up a quick test script:

[code]

[code]

Here's my current versions for ruby/highline:

[code]

[2015-08-25 13:55] akerl commented on #152
To rule out new-ruby issues, confirmed I get the same result with 1.9.3. I also get this on both bash and zsh:

[code]

[code]

[code]

[2015-09-05 04:01] abinoam commented on #152
Hi @akeri

I'll try to take a look at it tomorrow.
But, would you mind testing the edge branch?

https://github.com/abinoam/highline/tree/refac_styles

Could you clone it and run ```rake acceptance``` inside it.
Just copy and past the result here.
Thank you any way.

[2015-09-05 04:02] abinoam commented on #151
Hi @derrickmar,
Could you confirm it solved for you?

[2015-09-05 06:48] abinoam commented on #152
@akerl , I'm trying to reproduce the issue without succes.
I'll keep trying.

[2015-09-05 14:06] akerl commented on #152
[code]

That said, I only see this when I do a echo = false *after* an echo = true, so I'd not expect it to present in the acceptance test as it currently runs

[2015-09-05 14:12] akerl commented on #152
On the upside, even with this weird thing (which I expect will be some weird ruby version / system version / etc collision), this is all still entirely usable, despite the weird error message

[2015-09-05 14:50] abinoam commented on #152
Hi @aker,

Just for curiosity... Do you know why your Readline::VERSION shows as EditiLine wrapper?

My output is like this
[code]

By the way, this develop version of HighLine it "automatically" issues an echo = false and then and echo = true.

Try this, to see if we can isolate the issue

[code]

[2015-09-05 15:24] abinoam commented on #152
Could you also issue a

[code]

My output is
[code]

[2015-09-07 02:07] akerl commented on #152
I believe I've isolated it to when this is used with GNU coreutils from homebrew. My stty is generally /opt/boxen/homebrew/opt/coreutils/libexec/gnubin/stty. Substituting in /bin/stty doesn't cause the same error.

[code]

[2015-09-16 17:03] abinoam commented on #152
Hi @akerl ,

Sorry for the late response. I just lost this message.
We could try to make a patch where you could point to the correct ```stty` with some environment variable and/or set it at runtime. Do you think this could help?

[2015-09-16 18:06] akerl commented on #152
It would, but I think the saner solution is for me to just fix my local PATH so the stty used is functional.

If, as a dev, you have to plan around arbitrary binaries on the system being broken, things get really gnarly really fast :)

I'll just symlink the good stty to an earlier spot in my path and that'll sort things out.

Thanks for helping point me in the right direction for troubleshooting.

[2015-09-16 18:06] #152 closed

[2015-09-16 21:31] abinoam opened #154 "Fix most of the documentation and prepare for a prerelease gem"
See discussion at #149

[2015-09-16 21:56] dhduvall opened #155 "undefined local variable on Solaris"
Trying to run bosh:

    .../gems/highline-1.6.21/lib/highline/system_extensions.rb:228:in `block in terminal_size': undefined local variable or method `x' for HighLine::SystemExtensions:Module (NameError)
        from .../gems/highline-1.6.21/lib/highline/system_extensions.rb:228:in `map'
        from .../gems/highline-1.6.21/lib/highline/system_extensions.rb:228:in `terminal_size'
        from .

[2015-09-17 03:57] abinoam commented on #155
Hi @dhduvall,

Thank you very much for reporting the issue.
We'll be shipping a fix soon.

But... I see that you're running an old version of HighLine (1.6.21)
We're not maintaining the 1.6.x
We're bug fixing 1.7.x and developing 2.0.x.
I would suggest you to upgrade to 1.7 stable branch.

[2015-09-17 14:28] abinoam commented on #155
Dear @dhduvall ,

We have released a new version with your reported issue fixed.
Could you test it and confirm if there's any other issue on solaris?

[2015-09-17 15:56] dhduvall commented on #155
So bosh_cli's gemspec claims a dependency on highline `~> 1.6.2` for reasons I haven't dug into, but if I modify that, the latest git repo at least gets past the error.

Thanks!

[2015-09-17 15:56] #155 closed

[2015-09-18 02:51] abinoam commented on #151
Closing as stale. If @derrickmar has any news he can reopen the issue.

[2015-09-18 02:51] #151 closed

[2015-09-18 02:52] abinoam commented on #150
Closing as stale. If @matthewbga has any news for us he may reopen it.

[2015-09-18 02:52] #150 closed

[2015-09-18 02:55] abinoam commented on #31
After PR #149 I think most of JRuby problems are gone. Closing.

[2015-09-18 02:55] #31 closed

[2015-09-18 02:56] abinoam commented on #59
PR #149 merged. So closing this issue.

[2015-09-18 02:56] #59 closed

[2015-09-18 03:22] kachick commented on #59
@abinoam :+1:

[2015-09-18 13:34] matthewbga commented on #150
I apologize. Go ahead and close this. It will likely be open source, but I never could get around the matter of STDOUT swallowing the prompt.

[2015-09-19 03:41] abinoam commented on #152
@akerl, Thanks for your feedback!

[2015-09-22 08:37] 97-109-107 opened #159 "Can't dup Symbol"
I'm a user of an email client called [sup](https://github.com/sup-heliotrope/sup) which relies on highline. Since recent updates to my system (including gems) I get the following error:
[code]
I understand that the problem might be 'higher up' than the library itself, but in a rare case that it isn't - I'm politely posting it here.

*I reported this to sup maintainers as well - [here](https://gith

[2015-09-22 22:24] abinoam commented on #159
Thank you for reporting it.
I'll take a look at it.
Could you tell me what is the version of sup you're running so I can test with the same version.
I see you're using the 1.7.6 version of HighLine.

[2015-09-23 00:19] abinoam commented on #159
For reference:
- https://github.com/sup-heliotrope/sup/issues/477
- https://github.com/sup-heliotrope/sup/issues/473#issuecomment-142445940 (My comment on another 'related' issue)

[2015-09-23 08:16] 97-109-107 commented on #159
I'm not sure if you still need this information, but I'm running 7989b5b

Thank you for your prompt response.

Your [fix](https://github.com/JEG2/highline/pull/160) resolved this issue, but I'm seeing some other weird behaviour. Stil investigating.

[2015-09-23 08:16] #159 closed

[2015-09-23 13:00] abinoam commented on #159
The issues are probably related to my comment on sup-heliotrope/sup#473
Thanks again for reporting!

[2015-09-27 12:32] pineapplethief opened #163 "Easy indentation for menu options"
I'm hacking on highline for rails template generator of mine and want menu options to be nicely indented when printed, but I've found no easy way to do this.
I think that adding :index_prefix accessor and/or :indent_options accessor to Menu class could be useful for customizing menus. I also spotted hardcoded dependency in highline.rb choose method, which makes using custom menus subclassed from H

[2015-09-27 12:56] abinoam commented on #163
We're working on 2.0.0 and the main focus is refactoring and trying to
decouple things to be more reusable. You can see this by taking a look at
the last PRs and the diff between master and 1-7-stable branches.

I may try to have a quick look on your issue this week. But if you want,
feel free to go on trying a little more and feel free to ask any question.
I and @JEG2 can give you any assistance

[2015-09-27 13:19] pineapplethief commented on #163
I would love to help but how could I contribute? Section on contributing in readme would be helpful I think.

[2015-09-27 13:53] abinoam commented on #163
Feel free to:
1. Fork the repo
2. Commit
3. Push
4. Make a Pull Request
5. We're gonna give you suggestions and if everything fits well we're gonna merge it.

But, don't be pressured to do that!

[2015-10-07 11:57] abinoam opened #165 "lib/highline.rb not requiring lib/highline/question_asker.rb"
Hi @matugm ,

The tests were not able to catch this bug.

I think it would be easily fixed with a

[code]
on ```lib/highline.rb```

[code]

[2015-10-07 12:00] abinoam commented on #165
The bug shows up in the __acceptance tests__ (with ```rake acceptance```)

[2015-10-07 12:02] abinoam opened #166 "Constants being redefined on lib/highline/builtin_styles.rb"
Hi @matugm ,

```rake acceptance``` shows these warnings.

Could you have a look at it?
I think it's related to the recent PRs.

[code]

[2015-10-07 15:33] matugm commented on #166
Yeah, the problem is that I had to define the constant twice, one for legacy use and one for the new format of defining the STYLES. I will rename the new one to something else and that should get rid of those warnings.

[2015-10-07 15:35] matugm commented on #165
I will look into it. Can we add a new unit test that covers this problem?

[2015-10-07 19:01] #165 closed

[2015-10-08 18:30] carbonin opened #168 "TypeError when calling say"
When calling `HighLine#say` a `TypeError` is raised when printing the same number of lines as your `$terminal.page_at` value.

It can be reproduced with this gist:
https://gist.github.com/carbonin/4163f462345581956f4b

Traceback:
[code]

A fix would be to change the `lines.slice(-2,1)` to `[lines.last]` at `lib/highline.rb:997` which I think would get the desired behaviour.

The `$terminal.page_at

[2015-10-08 19:12] abinoam commented on #168
@carbonin  I was not able to reproduce the issue with the code on your gist.

Could rerun the gist exactly as it is and confirm the issue?

Can you share the output of the following?

    $ ruby -r highline -ve 'p [HighLine::VERSION, HighLine::SystemExtensions::CHARACTER_MODE]'

My output is as follow:
[code]

[2015-10-08 19:24] carbonin commented on #168
Oh, I forgot to mention that at the pagination prompt you have to press 'q' to stop.  Then you should get the traceback.

[code]
Is the output from
`$ ruby -r highline -ve 'p [HighLine::VERSION, HighLine::SystemExtensions::CHARACTER_MODE]'`

[2015-10-08 19:27] abinoam commented on #168
Great, now I get the error.

If the fix is so simple, don't you want to fire a PR yourself?
So you enter to the "hall of fame" of HighLine contributors :smiley:

But, if you prefer I can do it.

[2015-10-08 19:27] abinoam commented on #168
The branch is ```1-7-stable```

[2015-10-09 16:06] abinoam commented on #168
@carbonin

If the sentence has the exact same lines of ```HighLIne#page_at``` maybe the proper behaviour would be "not even paginate", do you agree? (So it was a __double__ bug ;-) )

I'm crafting the tests here and will push a patch soon.

Can I do PR to your fork branch so we merge it on our master altogether?

[2015-10-10 01:49] #168 closed

[2015-10-28 02:41] #166 closed

[2015-10-28 03:08] abinoam opened #174 "TODO list for discussion - Tasks that came to mind when writing/fixing the documentation"
Well,

I have already heard about documentation driven development.... I will not try to do that, but I can't deny that as I try to write more documentation or fix the current one some things naturally come to mind about HighLine.
I'll write them here to keep track of them and to discuss with anybody interested.
### There's too much parameters at the constructor signature of Highline

[code]

![ca

[2015-10-28 13:20] JEG2 commented on #174
Another option might be to use keyword parameters for everything.

This sounds very wise to me.

[2015-11-02 15:37] otbster opened #175 "Problem getting character in highline on git bash (via MINGW) on windows"
So I may be the only person who has ever had this problem.

I was trying to run a ruby script (to set up an open shift webserver) on git bash (my normal terminal), on windows. It consistently hung at the getting password stage.

**Eventually I worked out that the script was using highline, and that, probably due to running git bash on windows (via MINGW), the get_character method was hanging (tryi

[2015-11-02 15:39] abinoam commented on #175
Could you try the prerelease version?

gem install highline --pre

Em Seg, 2 de nov de 2015 12:37, otbster <notifications@github.com> escreveu:

[2015-11-02 18:04] otbster commented on #175
Ok I've tried the prerelease version. With the following simple piece of code:

`highline = HighLine.new
puts highline.ask("Password: ") { |q|
       q.echo = '*'
       q.whitespace = :chomp
     }`

In version 1.6.21, this works fine in powershell or the command prompt, but hangs in git bash (using MINW).

In version 2.0.0-prerelease, this again works fine in powershell or the command prompt. In

[2015-11-03 04:13] abinoam commented on #175
Hi @otbster ,

Although I couldn't reproduce it the same way you did, your report makes a lot of sense.
The prerelease version of HighLine relies on "io/console" to do most of the "low level" work.
I think git bash may be touching the STDIN in a way that makes ruby io/console not work properly.
Test this one-line script.
In my enviroment it works for Rubyinstaller ruby but raises error for git bas

[2015-11-03 04:18] abinoam commented on #175
@otbster

Could you copy/past here the output of these two commands?

[code]

[2015-11-03 07:49] alem0lars opened #176 "Can't test expected output when using say"
I'm writing a spec that tests a method successfully outputs some strings.
However, inside that method I use `say` instead of the builtin `puts`.
This leads to no output catched by rspec.

Example:

[code]

[code]

The spec above doesn't pass:

[code]

If I replace `say` with `puts` it will pass.

[2015-11-03 08:07] alem0lars commented on #176
Also, testing user input doesn't work either.

I try to intercept user input using:

[code]

but highline still prompts for user input and ignores the `$stdin`.

[2015-11-03 08:25] otbster commented on #175
Thanks! Actually I think this was my fault - I just updated git (for a different reason) and during installation it says, if you select the MinTTY emulator for git bash (which is what I use), that windows console programs may not work on it, and you should use "winpty" to run them.

When I then ran
`winpty ruby Programming/Ruby/Test.rb`
(Test.rb containing the code snippet above that previously di

[2015-11-03 11:15] abinoam commented on #175
Thank you very much for reporting the fix. It will be useful for others that fight the same issue in the future. When I have some time I'll try to work on some "autodetect" features.
I think I'll let this issue open meanwhile so I could easily remember later.

[2015-11-03 11:38] abinoam commented on #176
For the second comment, HighLine saves what $stdin is pointing to at the time you require 'highline/import' or instantiate the HighLine intance. Perhaps RSpec is not having time to redirect it.

Try to something like

[code]

This way you don't need to require 'highline/import'. Only 'highline'.

[2015-11-05 19:23] alem0lars commented on #176
Unfortunately that's not my usecase @abinoam .

I don't do dependency injection providing `cli` argument. It's directly called inside methods (as usual printings).

[2015-11-06 17:23] abinoam commented on #176
Hi @alem0lars,

From the RSpec output matcher documentation at https://www.relishapp.com/rspec/rspec-expectations/docs/built-in-matchers/output-matcher

    Note: to_stdout and to_stderr work by temporarily replacing $stdout or $stderr, so
    they're not able to intercept stream output that explicitly uses STDOUT/STDERR or that
    uses a reference to $stdout/$stderr that was stored before the ma

[2015-11-06 17:25] abinoam commented on #176
If you need, have a look at https://github.com/JEG2/highline/blob/master/test/test_highline.rb to see how we test for input and output.

[2015-11-07 09:15] alem0lars commented on #176
Yes thanks to the two comments above, I've been able to create specs using highline.

Just for future reference, I leave here the `shared_context` I've created:

[code]

This allows you to easily create specs using highline.

[2015-11-07 09:16] #176 closed

[2015-11-07 09:33] alem0lars commented on #176
Another (more concise and betterspecs compliant) version:

[code]

[2015-11-07 20:24] abinoam commented on #176
I'm happy that you have made it.
Thank you for reporting back so other may benefit!

About the README, I don't completely agree.
We're at a discussion for changing the api.
We think that we shouldn't contaminate the main namespace by default anymore.
The main way we should recommend will be:

[code]
It's already on the README of the master branch.
So your example will not be functional.

But, I'm

[2015-12-14 02:06] abinoam commented on #174
Growing the todo list.
HighLine.find_or_create_style_list doesn't check if the compound styles are valid styles. Well, The whole styling thing is a little hard. Perhaps we should make a new api for the styles and for the "rendering" of the strings with such styles. But... for while, just taking this note for future review.

[2015-12-25 23:06] strigonLeader opened #180 "Menu prompt not reused after failed menu selection"
[code]
After a failed selection the promt defaults to '?  '
I hope I'm not missing something in the API.

[2015-12-27 05:51] abinoam commented on #180
I have confirmed the behavior in my setup.
I'll be taking a look at it.

[2015-12-27 06:58] abinoam commented on #180
Dear @strigonLeader,

I'm sorry but you're right, this particular need has no intuitive way of doing it.

Reviewing the code I could see that, when "reasking" the question in the face of an error HighLine doesn't show the prompt you set up. Instead, it shows the ```responses[:ask_on_error]``` string.
And... for menus, there were no easy way to overwrite it.
I have made a simple workaround in a PR

[2015-12-27 07:01] #180 closed

[2016-02-02 15:08] tukanos opened #187 "Multiple answers menu possible?"
Hi,
I tried to read the Rdoc for HighLine but could not find a solution for such menu.  Maybe someone has found a simple way of doing such menu?  (you can do it with multiple ask(s) and numbers but that is not the point).

How would you do the following:
Select courses for your menu:
[ ] appetizer
[ ] soup
[ ] main dish
[ ] desert

User should select a menu like this:
[ ] appetizer
[x] soup
[x] ma

[2016-02-02 15:14] tukanos opened #188 "Prefilled answer for user to edit"
Hi again,

I wonder if anyone has tried to have a user predefined answer and if it is possible with current HighLine.

For example:

I would ask a user:

the prefilled answer would be:

and user could edit this answer and change it to www.google.de for example.

Any suggestions?

[2016-02-19 12:39] abinoam commented on #188
Hi @tukanos,

There's no **recomended** way of accomplishing what you are trying to do.
But, it's possible if you fool readline mode.

[code]

Try to autocomplete and then press backspace key and inline edit your answer to whatever.

Does it solve to you @tukanos? Any comment on it?

Be aware that readline mode introduces some dependencies and incompatibilities. (Sometimes breaks on JRuby, or on W

[2016-02-19 12:44] abinoam commented on #187
ncurses (with all sort of dependency related problems attached) it's what comes to my mind.
Currently no support for that (that I can remember).

[2016-02-19 12:49] abinoam commented on #154
Closing this as we're already releasing "prerelease" gems.

[2016-02-19 12:49] #154 closed

[2016-02-25 17:20] tukanos commented on #188
Hi @abinoam,

I'm trying to solve this issue for windows now.   The snippet you have posted is not working properly there as I have tested.

I have tried to come up with this workaround:

[code]

However, this solution has still some rough edges.  First it does not accept answers like www.goo.com (even when the www.g.com is not listed).  I think it is connected to Auto-complete.  If the string is

[2016-02-25 20:24] abinoam commented on #188
Hi @tukanos, Readline is hard to make work flawlessly at Windows and JRuby. I have spent some time on it. But have let it still for some time. Then, if you're using Windows you will surely experiment some bugs.

[2016-02-26 13:37] tukanos commented on #188
Hi @abinoam,

Yes I know Readline is a pain in the ...  I have now tested on
[code]
simple test and that behaves as it should:
[code]

I have even created a sample from highline source code which works too without any issues:
[code]
It has to be the combination of some features like Auto-complete that are creating this issue.  I don't know highline code good enough to see the issue yet.

[2016-03-13 23:00] maurobender opened #191 "Default with choose"
It would be nice to be able to set a default option for the menus, something like:
[code]

The output could be, for :one_line layouts:
[code]
and for lists:
[code]

[2016-03-13 23:04] maurobender opened #192 "Agree default option not working when character is set"
When __character__ option is set to _true_ for an agree question the default option is ignored

Example:
[code]
Ouput:
[code]
But when a hit _Enter_ it says that the chosen option is not valid and prompt me again with the same question.

[2016-03-17 02:25] abinoam commented on #192
Hi @maurobender,

This is affecting only the ```stable``` branch.
Please try to install the pre-release version with
```gem install --pre highline```
I'm closing this issue as solved.
Feel free to reopen it if you need.

[2016-03-17 02:25] #192 closed

[2016-03-17 02:29] abinoam commented on #191
Hi @maurobender,

Thank you for you suggestion.
I'll let it open, so we can keep it on sight. So we can work on it when having some time.
I will not promise I can touch it soon, because I'm in a really busy schedule these days.
If you (or anyone interested) want, you can try to open a pull request with the code of this feature.
We will be glad to help you through the process.
Thank you again for t

[2016-05-31 05:06] abinoam commented on #187
Hi @tukanos,
Closing this. Feel free to reopen it if you need.

[2016-05-31 05:06] #187 closed

[2016-05-31 05:07] abinoam commented on #188
Hi @tukanos,
Closing this. Feel free to reopen it if you need.

[2016-05-31 05:07] #188 closed

[2016-05-31 05:18] abinoam commented on #51
Closing as it's fixed.

[2016-05-31 05:18] #51 closed

[2016-07-02 14:21] mmihira opened #198 "Question Confirm to execute Proc"
It would be useful if the question.confirm attribute also accepted a Proc object, which when executed would return the confirm question to ask.

If you guys are ok with the idea I will implement it and submit a pull request ?

[2016-07-02 15:34] abinoam commented on #198
It sounds reasonable to me. Tell us if you find any difficult navigating
the code base. We'll be happy to help you.

[2016-07-04 11:20] gruz0 opened #199 ""NameError: undefined local variable or method 'key'" when using `gather` as hash"
I've got this error `NameError: undefined local variable or method `key' for #<HighLine:0x000000031a5d58>` when I try to use code like this:
[code]

Solution: use @key in #ask

[2016-07-04 12:11] abinoam commented on #199
Hi @gruz0,

Thank you for your attention on this.
Could you confirm what version are you running the examples at?
Could you please try something like
[code]
Because this was changed in 2.0.0-develop.1
And I think you're probably running the stable version 1.7.x
And, at this version, this files reads like your suggestion.
Look at it at: https://github.com/JEG2/highline/blob/1-7-stable/examples/repe

[2016-07-04 19:33] gruz0 commented on #199
Hi, @abinoam!

I use 1.7.8. :-)

[2016-07-04 23:40] abinoam commented on #199
The 1-7-stable branch is here.
https://github.com/JEG2/highline/blob/1-7-stable/examples/repeat_entry.rb
And the docs are already correct for that version.

I'll close the issue and PR. You can reopen it at anytime if you think it's necessary.
Thank you @gruz0 for interest in HighLine.

[2016-07-04 23:40] #199 closed

[2016-07-10 02:30] abinoam commented on #198
Completed at #201

[2016-07-10 02:30] #198 closed

[2016-07-12 04:07] abinoam commented on #191
Hi @maurobender,

We're closing this thanks @fredrb.

See #203 for details.

[2016-07-12 15:15] pietromenna opened #204 "Travis-CI is not building for all releases"
Travis-CI icon is not working for all releases due to some dependencies which require higher ruby version.

There are two possible solutions:

- Removing support for 1.9
- Adding 1.9 to to allow failure list

In my opinion, it is better to first add to 1.9 to allow failure list in the meanwhile and this I plan to send as a PR.  But, maybe it is interesting to already drop support for version 1.9 s

[2016-07-29 18:05] #204 closed

[2016-07-29 18:06] #191 closed

[2016-09-12 15:12] txt8888 opened #206 "suppress newline echo to stdout"
how to prevent the newline after the password was entered from being echo to stdout?

ruby and  highline version:
[code]

file: testhl.rb

[code]

[code]
the out.txt file always has a newline character at the beginning.  i.e :  ` \nhello, john`. anyway I can prevent that \n ?

[2016-09-13 17:30] abinoam commented on #206
Hi @txt8888,

Thanks for contributing an issue to HighLine.

This newline isn't from the grabbed string itself.
It's being put there by... well... ```puts``` :wink:

Try this snippet (a modified version of yours).

[code]

If this solve your issue, please let us know so we can close this.
But, feel free to add any comment you want.

[2016-09-18 00:48] abinoam commented on #206
Dear @txt8888,

Any feedback on your issue. Have my answer solved it?

I'm closing this issue by now. But you can comment or reopen it if you feel you need it.

[2016-09-18 00:48] #206 closed

[2016-10-15 17:34] rafaelsachetto opened #207 "Doesn't possible use an array of options"
No matter the chosen index option, always returns the last index of the menu.

The example below represents the problem:

[code]

[2016-10-17 12:34] abinoam commented on #207
Thank you for reporting such a problematic issue!

I have had a quick look at the issue.
Debugging I can see that after getting the menus set, all procs have different ids.

[code]

[code]

But if I eval `option` inside of each proc I get the *same* object, then _option.message_ will give the same result.

[code]

I'll take more time on it at the weekend! Any news, please contact us! 👍

[2016-10-17 12:40] abinoam commented on #207
Well... I think it's solved!

Use _each_ instead. Forget _for_.

The reason why: http://stackoverflow.com/questions/5677081/ruby-what-is-the-difference-between-a-for-loop-and-an-each-loop

[code]

Dear @rafaelsachetto, can I close this issue as resolved? Any doubt? Feel free to ask! And, thank you again.

[2016-10-18 17:06] rafaelsachetto commented on #207
Dear @abinoam you're rock, thanks alot for your amazing explanation, attention and support.

[2016-10-18 17:06] #207 closed

[2017-03-21 07:10] guyisra opened #208 "answering in multiple lines"
I couldn't find a way to get an input that spans multiple lines, is it even possible?

something like

`HighLine.new.ask 'Your life story: '`
and you would write text like a text editor (or similar)

is it possible with highline?

thanks

[2017-03-21 08:52] abinoam commented on #208
I don't think so.
But I'll check it out.

[2017-03-22 00:08] abinoam commented on #208
@guyisra

We can think about adding multiline support at HighLine itself. But I think I'll not have the time to implement it by now.

But, you can get multiline input as you would do withing any Ruby script.

Something around the lines of:
[code]

Do you think this would solve your problem? If so, please close this  issue. But, feel free to discuss it futher. And thank you for reporting it. I thin

[2017-03-26 18:47] ngw opened #209 "can't modify frozen NilClass when using HighLine::Simulate"
Hello, I'm trying to test a Thor app that is using HighLine to handle I/O.
The bit of code I'm attempting to validate is:

    Cobain::Settings::SETTINGS.each do |setting|
      if Cobain::Settings.send(setting).nil?
        Cobain::Settings.send("#{setting}=", highline.ask(Cobain::Settings::OPTIONS[setting]))
      end
    end

where highline is obviously a HighLine instance.
This is my test:

[2017-03-27 01:19] abinoam commented on #209
Dear @ngw,

Thank you for reporting the issue, we really appreciate it.

You're using version 1.7.8.
Line 45 of `lib/highline/simulate.rb` is:
[code]
The message error is `RuntimeError: can't modify frozen NilClass`

I guess `$terminal` global variable is not set when `instance_variable_set` is called (for the context you're giving).
So, if `$terminal` is `nil` then calling `instance_variable_set`

[2017-03-27 01:26] ngw commented on #209
Unfortunately Thor already has an .ask method: https://github.com/erikhuda/thor/blob/master/lib/thor/shell/basic.rb#L72-L81
Tomorrow I'll try your suggestions and report here what I find out, thanks a lot.

[2017-03-27 02:00] abinoam commented on #209
Name collisions like this made us rethink the way we have been messing with global namespace. Unfortunately we haven't made all changes we would like to make.

I think there's a better workaround then.

[code]

[2017-03-28 10:10] ngw commented on #209
It actually worked, I only had to mock HighLine.new to return the new simulator instance.
Some docs about testing would really be useful I guess.

[2017-05-08 14:06] #209 closed

[2017-05-08 14:07] abinoam commented on #209
I'll close the issue. Feel free to reopen it if you want to add any information. Thanks for contributing opening the issue and discussing it.

[2017-05-22 19:03] abinoam commented on #208
Hi @guyisra,

I'm closing this issue as stall. But, feel free to reopen it if you find it necessary.

[2017-06-25 05:00] #208 closed

[2017-07-14 14:03] djberg96 commented on #174
@abinoam I agree with @JEG2 that the behavior to be tied to a module rather than a require.

[2017-07-15 03:08] abinoam commented on #174
Thanks for your input @djberg96
I would appreciate any more comment, so feel free to write them! 👍

[2017-09-29 18:39] jblaine opened #217 "Docs not on RubyDoc.info as README states"
Links in README are dead.

http://www.rubydoc.info/find/github?q=highline = no results

[2017-09-29 22:35] abinoam commented on #217
Hi @jblaine,

The link at README is http://www.rubydoc.info/github/JEG2/highline/master and it seems to be working (at least at the time I could reach to it).

But, you're right, I can't get the highline docs from the Rubydoc.info search form (The link you have posted).

Strangely, if you click at the letter "H" (http://www.rubydoc.info/github/~h) it will appear normally.

By the way, I have (re)a

[2017-10-11 03:26] abinoam commented on #217
Closing this as resolved.

PS:
Funny, if you search for "highlin" it will find it. But it won't find "highline"
See at:
http://www.rubydoc.info/find/github?q=highlin
http://www.rubydoc.info/find/github?q=highline

[2017-10-11 03:26] #217 closed

[2017-11-02 16:43] jblaine opened #219 "Proc validation displays ruby object on invalid"
Is there a way to make this more useful to the user when using a Proc for validation?

`Your answer isn't valid (must match #<Proc:0x005595f1ced3f8@account:85>).`

[2017-11-02 22:07] abinoam commented on #219
Thanks, I'll take a look at it.
Just confirm you're using 2.0.0-prerelease version.

[2017-11-03 05:45] abinoam commented on #219
Hi @jblaine,

You can overwrite the default responses like this.

[code]

 See: http://www.rubydoc.info/github/JEG2/highline/master/HighLine%2FQuestion:responses

Do you think this can help at your use case?

Unfortunatelly, this answer is a static String.

If I have some spare time I can try and see if I can make it accept a lambda so we can give a response according to user answer.

[2017-11-03 20:36] jblaine commented on #219
@abinoam The hardcoded string response will work well enough for us for now. Thanks for the speedy reply and thanks for making highline available for everyone.

[2017-11-03 22:57] abinoam commented on #219
Thank you for your feedback. I'll let this issue open as a reminder to me. I'll try to find time to do it.

[2017-11-05 14:55] #219 closed

[2017-11-05 14:58] abinoam commented on #219
@jblaine I have just released 2.0.0-develop.13 from PR #220.
Now you can use a proc or a string.
The given user answer will be yielded/passed to the lambda/proc.
Could you give me any feedback on this?

[2017-11-05 14:59] abinoam commented on #219
Feedback = Has this featured worked on your use case?

[2017-11-06 17:43] jblaine commented on #219
Tried 2.0.0.pre.develop.13 and the Proc response works fine for our use case.

[2017-11-07 20:58] abinoam commented on #219
Thanks for your feedback @jblaine! 👍

[2017-11-17 19:25] ailisp opened #221 "Incosistent behavior when ask with a validator and readline=true"
Hi, we're using highline in a console for a cloud management platform: https://github.com/manageiq/manageiq-appliance_console. Recently we add all `Highline.ask` with `readline=true` option to add arrow key navigation. It works fine for no validator `ask`, but for cases with a validator, like `Highline.agree` or `Highline.choose`, it's behavior is inconsistent with the same method call of  `readli

[2017-11-17 22:28] abinoam commented on #221
Hi @ailisp,

Thanks for reporting the issue.
What exactly is happening on your setup?
What **behaviour** is inconsistent?

[2017-11-17 23:10] ailisp commented on #221
Hi @abinoam Thanks for quick response. In a clone of current master branch. save the content I provide as example as test.rb:
[code]
I input `aaa`, nothing and `yes` for both case (`readline=true` or `false`), and you can see with `readline=true` there's no extra newline after question, and redundant question.
For `choose`, if we have `readline=true` then give a invalid input, the question and men

[2017-11-18 00:11] abinoam commented on #221
I think I understood.

I've had a quick look at the code now and couldn't figure out a quick fix.
I'll try to take a look at it next week and try to fix it or at least provide a way to work around it.

👍

[2017-11-18 01:40] abinoam commented on #221
I see that the use of `readline = true` at `agree` is pretty much unimplemented.
It doesn't even autocomplete for **yes** or **no**.

[2017-11-18 03:36] ailisp commented on #221
Yes. just noticed the auto complete part is not implemented. And here's of some hacks I did for make `choose` and `agree` looks the same as `readline=false`, it works but with some ugly hacks so I don't make a PR here direcly. I think you're more familiar with GNU Readline, but hope this can save you some time.
- readline replacement of `agree`
https://github.com/ManageIQ/manageiq-appliance_consol

[2017-11-22 01:11] abinoam commented on #221
@ailisp Could you please have a look at PR #222 ?

[2017-11-22 16:41] ailisp commented on #221
@abinoam Just tested with `ask` and `choose`, `readline=true` works consistently as expected and ompletion also works. Thanks for the fix!

[2017-11-22 18:06] abinoam commented on #221
Thank you very much @ailisp! I'll merge it and release it. 👍

[2017-11-22 18:06] #221 closed

[2017-11-22 18:09] abinoam commented on #221
Released https://rubygems.org/gems/highline/versions/2.0.0.pre.develop.14

[2017-11-23 21:23] lebogan opened #223 "undefined method 'default_instance'"
I get this message when I try to run the page_and_wrap.rb example:
[code]
I am using highline 1.7.8, bundler 1.16.0, and ruby 2.3.3.

Thanks for any insight.

[2017-11-23 22:52] lebogan commented on #223
Update:
I downloaded and built version 2.0.0.pre.develop.14 and ran the example again. It works with this version.
What am I missing?

[2017-11-24 03:01] abinoam commented on #223
Hi @lebogan,

We're not actively updating 1-7-stable branch.
So I strongly encourage to experiment and migrate to 2-0 branch.
But I added this to 1-7-stable because I think is important for avoiding confusion.
See PR #224

Now (at 1-7 and 2-0) you may run

`bundle exec ruby examples/page_and_wrap.rb`

and bundle will take care of correctly handling dependencies and load path.

Could please give me

[2017-11-24 16:49] lebogan commented on #223
Thank you. That worked.

[2017-11-24 16:49] #223 closed

[2017-11-26 12:43] billbisco opened #225 "Default Highline Example on GithubGives Error"
When I copy/paste the default Highline Example from Github into Cloud9 there is an error on line 49

# Using colored indices on Menus

HighLine::Menu.index_color   = :rgb_77bbff # set default index color  #line 49

/home/ubuntu/workspace/Project/Testing.rb:49:in `<main>': undefined method `index_color=' for HighLine::Menu:Class (NoMethodError)

When I installed the gem, everything else prior worke

[2017-11-27 14:43] abinoam commented on #225
Thanks for reporting the issue @billbisco.

Could you please check what is returned by...

[code]

I suspect you're using the 1-7-stable branch. And the README.md examples are for 2.0.0-develop branch.

[2017-12-05 22:59] abinoam commented on #225
Hi @billbisco, can you check what version are you running?

[2017-12-07 00:20] presidentbeef opened #226 "HighLine Terminal::IOConsole#restore_mode does not work with StringIO"
HighLine version 2.0.0.pre.develop.14

[code]

This works prior to 2.0.

[2017-12-07 02:02] abinoam commented on #226
Hi @presidentbeef,

You're right! t's not working anymore.
For doing so we're providing a simple compatibility module.
Look at https://github.com/JEG2/highline/blob/master/lib/highline/io_console_compatible.rb
We're using it to make our tests using StringIO pass.
If you have any insight, suggestions of a better way to accomplish it, I would be happy to discuss with it with you.

[2017-12-07 03:51] presidentbeef commented on #226
Ah, no that's perfect for me. I only need it for tests as well.

[2017-12-07 09:39] abinoam commented on #226
Great 👍 !

I think I should put a note on README to ease the task for others.

And... thanks for reporting it.

[2017-12-07 09:39] #226 closed

[2017-12-09 02:07] headius opened #227 "System extensions depend on now-internalized JRuby dependencies"
We received a report of highline failing to load on JRuby 9.1.15.0 in jruby/jruby#4889.

The issue is that `system_extensions.rb` accesss parts of the `jline` library we ship using its normal package name, and to avoid an embedding issue in JRuby 9.1.15.0 we now have "vendored" that library into a JRuby-specific package (jruby/jruby#4740).

Because of the relocation, highline's system extensions f

[2017-12-09 11:40] mkristian commented on #227
@headius right it is unlikely the path will change again. but it is more likely we switch to jline-3.0 one day. and current jline-3.0 has a dependency to asm which is also something jruby puts into a relocated package.

[2017-12-10 01:43] abinoam commented on #227
I let this up to you (@headius  @mkristian) to decide what is best approach for JRuby, I think it will be easy to make Highline compatible with it 👍

PS: I'll probably have time to work on this by monday.

[2017-12-10 01:55] abinoam commented on #227
Hi @headius,

I'm seeing now that the issue is referring to 1-7-stable branch.
These "system extensions" have gone in 2.0 (unreleased).
I'll try to have a better look at it.

[2017-12-10 09:48] abinoam commented on #227
@tomdz Could you help on this? I saw the JRuby/jline code was made initially by you.

Hooking some other folks that could also probably help: @BanzaiMan, @ai, @presidentbeef, @rsutphin, @mnzaki, @iconoclast.

[2017-12-10 12:53] mkristian commented on #227
just to get the initial context is play as it could be 1-7-branch related: https://github.com/jruby/jruby/issues/4889

[2017-12-10 15:49] presidentbeef commented on #227
FWIW I've been using the 2.0 development releases for JRuby compatibility for a long time.

[2017-12-11 02:03] abinoam commented on #227
The stack trace shows that @petrvalkoun-gooddata is on 1.7.10.

```initialize_system_extensions at C:/jruby/lib/ruby/gems/shared/gems/highline-1.7.10/lib/highline/system_extensions.rb:21```

[2017-12-11 10:49] abinoam commented on #227
Hi all,

I've run `bundle exec rake acceptance` and the readline autocomplete test worked ok on 2.0.0-pre.

I've made some simple tests on questions with readline enabled and it's woking ok on 2.0.0-pre

What about just ask @petvalkoun-gooddata and everybody willing to keep running the most update version of JRuby to migrate his code to highline 2.0? What do you think?

By the way, I think I've po

[2017-12-11 13:10] mkristian commented on #227
@abinoam cool - FYI gems with native extension do not work with JRuby. Thanks for looking into all this.

[2017-12-11 13:29] abinoam commented on #227
One more good new. The gem that the issue is refereeing is https://github.com/gooddata/gooddata-ruby

Having a fast look at it, it seem it is already ready for HighLine 2.0. Just because it used "best practices". It envelopes Highline use behind a local reference. Just the way HighLine 2 favors!

https://github.com/gooddata/gooddata-ruby/blob/2bd53792728329d380d96a8358cc734359c14fd5/lib/gooddata/c

[2017-12-11 13:31] abinoam commented on #227
It is a `pronto` dependency.

I'll see if I can fine tune the gemspec|Gemfile so it autodetects this.

Thanks 👍

[2017-12-12 10:29] petrvalkoun-gooddata commented on #227
@abinoam many thanks for your help, I have already asked our developers to migrate to highline 2.0. I will notify the result.

[2017-12-28 03:50] abinoam commented on #227
I'm closing this! 👍

[2017-12-28 03:50] #227 closed

[2018-01-01 19:14] mediamagnet commented on #225
Hello,

I'm getting the same error when using the example I'm using version 1.7.10.

[2018-01-02 07:54] petrvalkoun-gooddata commented on #227
Upgrade to highline 2.0 resolved the issue, thanks!

[2018-03-12 14:05] iranakam commented on #225
I also tried it with 1.7.10, and ```NoMethodError``` was reproduced.
However, as @abinoam said, I confirmed that it's not reproduced in 2.0.0.pre.develop.14.

[2018-03-12 18:56] abinoam commented on #225
As @iranakam confirmed @billbisco is probably running the example using the wrong version. I'll close this for now. Anybody feel free to reopen the issue if think appropriate.

[2018-03-12 18:59] #225 closed

[2018-05-21 17:01] doriantaylor opened #232 "consider exposing Readline.completion_proc via HighLine::Question#selection"
Happy Monday,

Playing around with HighLine, finding myself in a situation where I need finer-grained access to tab completion than an array. Looking at [terminal.rb](/JEG2/highline/blob/f6dad04066a7ec982f07d12db04aa8633a541ec3/lib/highline/terminal.rb#L116) it seems as if it would be pretty easy to re-expose `Readline.completion_proc` via `HighLine::Question`.

Something like this would probably

[2018-05-24 02:01] abinoam commented on #232
Hi @doriantaylor , thank you for your comments/suggestions.

I'll probably have time to look at it further by the weekend.

But I can antecipate to you that if it solves an actual problem that you're having, it doesn't break the api and it doesn't raise the code's complexity too much I'll probably welcome your changes 👍

[2018-05-24 02:49] doriantaylor commented on #232
Great, I'll cook it up.

[2018-05-26 18:03] doriantaylor commented on #232
Looking over this and I have a couple questions:

1. Testing strategy: Do I (can I?) use `HighLine::Simulate` or do I add another manual acceptance test?
2. The method `HighLine#shell_style_lambda` does something similar to what I am ultimately trying to do, but only for menus. Perhaps it would make sense to take a step back and look at this more holistically?

I found my way here because I was wr

[2018-06-07 07:23] branch14 opened #233 "default value has to be a string"
I'm not sure this is intentional.

The default value for ask has to be a string, if it is an integer, it is silently ignored.

Tested with v1.7.10

This was not the case prior to v1.7.0

Demo:

[code]

[2018-06-10 04:00] abinoam commented on #233
Hi @branch14 ,

I don't plan to patch 1.7-stable branch anymore.
I couldn't reproduce the issue at 2.0 branch.

[2018-06-11 11:54] abinoam commented on #233
@branch14 today we have officially released 2.0.0 version!
I'll close this issue, but feel free to reopen it if you think it's necessary.

Thank you very much for your feedback! 👍

[2018-06-13 19:22] branch14 commented on #233
Thank you for your work on highline. I never tried the 2.0 branch, but now that it has been release I totally will. :)

[2018-06-13 19:37] abinoam commented on #233
Thank you! I hope it work well. Give me a feedback as soon as you tested it 👍

[2018-06-14 07:12] branch14 commented on #233
I tested it and unfortunately I found the same issue in 2.0.0

Luckily the work around still works. :)

Here is how to reproduce it:

[code]

[2018-06-19 00:35] abinoam commented on #233
I've reopened the issue.
Could you clone the repo and ```run rake acceptance``` and post the results here?

[2018-06-19 00:38] abinoam commented on #233
It was correctly reproduced in my enviroment.

[2018-06-19 01:03] abinoam commented on #233
In a quick look what I see is...

Default value is about the **answer gathering** part. We should always receive a string by keyboard, although we could have any kind of object as default. This could be useful for several scenarios by passing as default a more meaningful object than `nil`.

That `Integer` is more about **coercion**.

I can see that Highline is doing a type check at this part

[cod

[2018-06-27 01:07] abinoam commented on #233
I may agree with you. But this breaks the current behaviour. We can discuss this to come in a major release.

For now, I think we can ammend the type checking part adding Integer to the list.
This will solve for your specific case without any major break.
What do you think about this?

[2018-08-29 12:05] aspyct opened #236 "Ctrl-C improperly handled when q.echo = false"
Hi,

Just noticed something a little odd with the handling of a ctrl-c while in an `ask` with echo set to false.

[code]

[code]

Two things happened here:
1. the ctrl-c did not interrupt the script (it does if `q.echo` is not set to false)
2. after this, and every time I run a new command (ls, ps etc), an empty line will be printed before the output of the command (see example below)

[code]

I'm

[2018-09-03 15:07] abinoam commented on #236
I'll be having a look at it as soon as possible.
HighLine dates from a time where all the hard work should be done by it.
This is probably an issue related to the fact that HighLine is handling all cases related to special characters like backspace and others.
If you come up with a PR, feel free to open it, I would be thankful!
If not possible, just wait some time and I will surely try to fix it.

[2018-09-03 15:08] abinoam commented on #233
Hi @branch14 what do you think about my last comment 👆

[2018-09-03 16:41] branch14 commented on #233
I fully concur. I'm sorry I didn't mean to let you hanging.

On Mon, 3 Sep 2018, 17:08 Abinoam P. Marques Jr. <notifications@github.com>
wrote:

[2018-09-14 11:34] aspyct commented on #236
Hi,

No worries, this isn't in any way a blocking/problematic bug, so don't feel pressed to fix this :) I might look into it on the train sometimes, but no promises here :)

[2018-12-21 17:38] Thalagyrt commented on #236
I've just run into this as well - we can work around it for now, and if I have time for a PR I'll raise one, but also subscribing for notifications if you happen to fix it before I do. Cheers!

[2019-01-23 16:05] cabello opened #237 "Issues with echo: false and not on TTY"
Hi 👋 ,

We've been using highline with much success! 🎉  Thanks for making this project open source.

I just noticed an issue present in both 1.7 and 2.0 when executing scripts not in a TTY and setting `echo` to `false`.

Script to reproduce issue `script.rb`:

[code]

Command to reproduce the issue: `echo 'something' | ruby script.rb`

Output in 2.x:
[code]

It **breaks** and there is no recovery

[2019-01-23 17:38] abinoam commented on #237
Great catch. Confirmed in my machine. I can't promise taking a look at it really quickly. But I'll try it at least next week. (If you see a patch before this, please open a PR). This may have a huge impact in running scripts in pipes.

Thank you.

[2019-01-23 17:54] abinoam commented on #237
Perhaps related to https://github.com/piotrmurach/tty-prompt/issues/49

[2019-01-23 18:47] abinoam commented on #237
Well, currently we treat input, output as being from the same "type". But when pipeing input can be a file and output a terminal.

[2019-01-23 19:04] #237 closed

[2019-01-23 19:07] abinoam commented on #237
I've just assembled a quick and dirt fix.
Released https://rubygems.org/gems/highline/versions/2.0.1
@cabello could you please give me any feedback if this fix is enough for your software.
I'll probably look at this later for a better solution.

[2019-01-23 19:08] abinoam commented on #237
The HighLine's assumption that input and output is the same type is broken.

[2019-01-23 19:14] abinoam commented on #236
io/console #getpass handles ctrl-C correctly

[2019-01-24 15:03] cabello commented on #237
I just confirmed this works as expected. Thanks for the quick fix.

[2019-02-20 19:29] asfaltboy opened #239 "Can't get terminal_size"
I tried bumping highline version from 1.6.2 to 2.0.1 in [hubsmoke/bro/#75][1] but this caused me to spend an obscene amount of time trying to replace `HighLine::SystemExtensions.terminal_size` with `HighLine.new.output_cols`... It seems `HighLine.new.terminal` in latest version is mutilated on my environment (MacOS Mojave 10.14.3) and terminal is always `Nil`.

The interesting thing is that on 1.6

[2019-02-20 19:48] abinoam commented on #239
Thanks for reporting it @asfaltboy !

Could you please clone the repo and post here the results of `bundle exec rake acceptance`

[2019-02-20 19:51] abinoam commented on #239
What is the output of

[code]

[2019-02-20 20:09] asfaltboy commented on #239
<details>
<summary>Output of `bundle exec rake acceptance`</summary>

[code]
</details>

Looks like I had an issue with readline, if this is anything like Python, I don't trust MacOS upgrade to not break dependencies, so I'll go  ahead and re-install ruby 2.4.1, and report back once done.

[2019-02-20 20:25] asfaltboy commented on #239
Hmmm, that didn't work. Interestingly enough when running the command above in `irb` it works fine:
[code]

But when running the same from `bro.rb` I see that `terminal_size` is nil, here is the relevant code:
[code]

And here is the result:
[code]

I'm not really savvy in Ruby, so do please let me know what other info I should provide?

[2019-02-21 11:26] abinoam commented on #239
Please, could you issue a `puts HighLine::VERSION` just to be sure your environment is set right. Perhaps your fireing different highline versions when switching from your script to irb. Just a guess.

[2019-02-21 11:33] abinoam commented on #239
Were already able to run `bundle exec rake acceptance`.

I need that final report like this:
[code]

[2019-02-21 14:05] asfaltboy commented on #239
Sure
[code]

and
[code]

[2019-05-30 20:42] abinoam commented on #239
Im so sorry I couldn't progress on this. Passing here just to let you know that I still care for your issue.

[2019-05-31 05:21] asfaltboy commented on #239
No worries, let me know if you need more traces or debug logs, etc.

[2019-06-05 02:53] abinoam commented on #239
[code]

If terminal `@output` is not a `tty?` then `terminal.terminal_size` should not return `nil`.

I could just put a default fallback value for that (the same as I did for when it is not a `tty?`).

Could you please check these lines and copy past the results here?
[code]

[2019-09-09 22:20] galinkinlin opened #244 "echo=false or echo='*' requires extra character after enter on Windows"
[code]
Hey there!

[code]

The above script requires an extra character to be entered in the command line after enter is hit on windows before it releases back to the rest of the script (I'm using CMD, but I believe it happens with conemu and powershell, too).

[2019-09-10 15:43] mkalan commented on #244
I too am having this exact same issue.

[2019-09-11 01:49] abinoam commented on #244
I'll try to have a look as soon as possible. Meantime if someone come up with a patch, please submit a PR.

[2019-12-01 15:12] orgads commented on #244
The problem is in io/console. This can demonstrate it as well:

[code]

[2019-12-01 15:13] orgads commented on #244
https://github.com/ruby/io-console/issues/3

[2019-12-02 11:43] abinoam commented on #244
Great @orgads so it's better to wait for a fix at io/console itself.

[2020-06-09 13:54] Joshfindit opened #246 "Possible to accept multiple selections with `.in` and `.default`?"
Currently I have

[code]

This is awesome for choosing multiple items from a list, such as:
[code]

What I would like to extend to is this:
[code]

and
[code]

Thanks!

[2020-10-19 01:09] abinoam commented on #246
Dear @Joshfindit,

Sorry, for the late answer.

I'm not sure I could understand the problem you have stated correctly.
Could you please clarify it? (Note that I'm not a native english speaker)

Best regards

[2020-10-19 01:10] abinoam commented on #246
Perhaps it would be easier for me to understand if you provide a complete code snipped that I could try to run on my machine things.

[2021-02-04 08:15] rubyFeedback commented on #246
If I understand it correctly he wants to be able to do multiple input on the same line?

not sure if I understood it but the sample he showed was e. g.:

"1, 2, 5, 12"

Can't say so far as I usually have only single selections. :D But this may be
what he is aiming for. In that case probably just a convenience feature to
avoid several newlines for multiple guesses, I suppose?

[2021-02-11 09:51] boutil opened #247 "test failing when ruby is built against libedit instead of readline"
Hi,

Recently, Debian started to build the ruby interpreter against libedit instead of readline for license reasons:
https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=977724
One test in highline gem started to fail after this change:
[code]
(see e.g.: <https://ci.debian.net/data/autopkgtest/testing/amd64/r/ruby-highline/10349342/log.gz>)

This does not seem to have an influence on other packages i

[2021-02-15 02:41] abinoam commented on #247
Thanks for reporting.
I can't make any promise when I could see this.
I welcome any PR to fix it.

[2021-02-15 02:41] abinoam commented on #247
Perhaps it's time for us to search again for a pure ruby readline implementation.

[2021-02-23 18:15] Faheetah commented on #236
Just a thought, you could always throw the exit in with the character checks in HighLine#get_line_raw_no_echo_mode, this would "catch" (I say that because `trap` doesn't seem to catch anything in the method, or anywhere for that matter). This worked for me. I am not sure off hand if \u0003 is going to be cross platform but it seems to work in POSIX environments, tested on macOS:

[code]

[2022-02-19 22:44] esotericpig opened #249 "Have to set convert type in order for `.in` to work with array"
If you do this, no validation happens:

[code]

You can enter in `d`, and it accepts the input.

In order for it to work, you have to pass in `String`:

[code]

Is there another way I should do this (I don't want a full-blown menu like with `choose`)? Else, I think it'd be useful to change it.